body {
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	color: #282828;
	background-color: #8EC07C;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

table {
	margin: auto;
}

th,td {
	border: 1px solid black;
}

tr {
	text-align: center;
}

.silentTD {
	border: none;
}