select {
	height: 35px;
	font-size: 14px; 
    border: 0 solid;
    border-radius: 3px;
    background-color: #689D6A;
    background-image: none;
    margin-bottom: 5px;
}

select:focus {
    outline: none;
}